Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Jinja2==3.1.2
Werkzeug==2.3.7
MarkupSafe==2.1.3
itsdangerous==2.1.2
gunicorn
requests
supabase
firebase_admin
psycopg2
bcrypt
google-cloud
flask-cors
cryptography
pywebpush
pusher
flask_sitemap
datetime
spacy
spacy==3.x.x
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
