Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Jinja2==3.1.2
Werkzeug==2.3.7
MarkupSafe==2.1.3
itsdangerous==2.1.2
gunicorn
requests
supabase
firebase_admin
psycopg2
bcrypt
google-cloud
flask-cors
cryptography
pywebpush
pusher
flask_sitemap
datetime
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
spacy_langdetect
apscheduler
logging
flask-socketio
flask-compress
flask-limiter
pytz
sqlalchemy
redis