<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Vaibes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='script.css') }}">
    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js';
        import { getMessaging, getToken } from 'https://www.gstatic.com/firebasejs/9.0.0/firebase-messaging.js';

        const firebaseConfig = {
            apiKey: "AIzaSyCx3huLfApzRJPETN8JwINUnVBoM1Krdvc",
            authDomain: "app-vaibes.firebaseapp.com",
            projectId: "app-vaibes",
            storageBucket: "app-vaibes.appspot.com",
            messagingSenderId: "842665045470",
            appId: "1:842665045470:web:edbe6c0cf3db4ac71c014f",
            measurementId: "G-3WTKSP88V9"
        };

        const app = initializeApp(firebaseConfig);
        const messaging = getMessaging(app);

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/firebase-messaging-sw.js')
                .then((registration) => {
                    console.log('Service Worker registrado com sucesso:', registration);
                })
                .catch((err) => {
                    console.log('Falha ao registrar o Service Worker:', err);
                });
        }

        async function requestDeviceToken() {
            try {
                const currentToken = await getToken(messaging, { vapidKey: 'BPFHsWVpmdz4ttOgwkr25F1hSlxlNJSyJDvVd4X7k2Jmi1rJlATt1non' });
                if (currentToken) {
                    console.log("Token de dispositivo encontrado:", currentToken);
                    document.getElementById('device-token').value = currentToken;
                } else {
                    console.log("Não foi possível obter o token de dispositivo.");
                }
            } catch (err) {
                console.error("Erro ao obter token de dispositivo:", err);
            }
        }

        window.onload = function() {
            document.getElementById('login-button').addEventListener('click', async () => {
                await requestDeviceToken();
                document.querySelector('form').submit(); // Submete o formulário após obter o token
            });
        };

    </script>
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='vibe-icon.png') }}" alt="Vaibes Logo" class="logo">
        <h1>Login</h1>

        <form method="POST" action="{{ url_for('login') }}">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="error-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="email" name="email" placeholder="Digite seu email" required>
            <input type="password" name="password" placeholder="Digite sua senha" required>
            <input type="hidden" name="device_token" id="device-token">
            <button type="button" id="login-button">Login</button>
        </form>
    </div>
</body>
</html>
